body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
.container {
    padding: 15px;
    background-color: white;
    text-align: center;
  }

  
input[type=text], input[type=password], input[type=email] {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
  }

  input[type=text]:focus, input[type=password]:focus, input[type=email]:focuss {
    background-color: #ddd;
    outline: none;
  }

#register_button {
    background-color: #419444;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 41%;
    opacity: 0.9;
  }
  
  #register_button:hover {
    opacity: 1;
  }

  #login_button {
    background-color: #419444;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 41%;
    opacity: 0.9;
  }
  #login_button:hover {
    opacity: 1;
  }

#search{
    visibility: hidden;
}

#books{
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#logout{
    visibility: hidden;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#logout:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
#logout:active {
	position:relative;
	top:1px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.myButton:active {
	position:relative;
	top:1px;
}
